*
  margin: 0
  padding: 0
.nav
  width: 100%
  height: auto
  background: orangered
  display: flex
.nav__logo
  width: 50%
  height: auto
  display: flex
  margin-left: 10%
.nav__logo--color1
  h1
    margin-right: 10px
    color: orange
    line-height: 50px
.nav__logo--color2
  h1
    color: #fff
    line-height: 50px
.nav__menu
  width: 50%
  li
    display: inline-block
    margin-left: 20px
    text-transform: uppercase
    a
     line-height: 50px
     color: #fff
     text-decoration: none
.header
  width: 100%
  height: 900px
  display: flex
  justify-content: center
  align-items: center
.header:nth-child(3)
  background: #A60321
.header:nth-child(4)
  background: #BF0436
.header:nth-child(5)
  background: #0583F2
.header:nth-child(6)
  background: #049DD9

.box
  width: 29.3334%
  height: 500px
  background: #202023
  margin: 0 2% 50px
  h1, p
    text-align: center


.box--dark
  background: #202023
  color: #fff

.box__img
  background: #2020239e
  width: 100%
  padding: 3%
  margin-top: -66px
  position: relative
  &:hover
    background: #000

  h1
    color: #fff
    font-family: $monospaced-font-family
    font-size: 30px

.box__text
  p
    padding: 3%
